<div class="inner">
  <p>Editable config settings are shown below.</p>
  <p>Note: these values are not currently validated on save.</p>
  <div class="data"></div>
  <div class="buttons">
    <button class="btn primary save">Save</button>
  </div>
</div>
